#glavni-naslov {
    background-color: grey;
    text-align: center;
}
.podnaslov {
    background-color: grey;
    text-align: center;
}
#footer {
    background-color: black;
    text-align: center; 
    color: white;
}